.u-text-centered{
	text-align: center;
}

.u-block-centered{
	margin:auto;
}

.u-image-centered{
	margin:auto;
	display:block;
}

.tooltipd{
	text-decoration: underline dashed;
}

.five.pct.tall{margin-top: 5%;}
.ten.pct.tall{margin-top: 10%;}
.fifteen.pct.tall{margin-top: 15%;}

hr{
  border-top: 3px groove #A1A1A1;
}