.u-text-centered{
	text-align: center;
}

.u-block-centered{
	margin:auto;
}

.tooltipd{
	text-decoration:underline;
	text-decoration-style:dashed;
}

.five.pct.tall{margin-top: 5%;}
.ten.pct.tall{margin-top: 10%;}
.fifteen.pct.tall{margin-top: 15%;}