.u-text-centered{
	text-align: center;
}

.u-block-centered{
	margin:auto;
}

.u-image-centered{
	margin:auto;
	display:block;
}

.tooltipd{
	text-decoration: underline dashed;
}

.five.pct.tall{margin-top: 5%;}
.ten.pct.tall{margin-top: 10%;}
.fifteen.pct.tall{margin-top: 15%;}

hr{
  border-top: 3px groove #A1A1A1;
}

*{
	font-size: 15pt;
	font-family: "Source Serif Pro", Serif;
	font-weight: 400;
}

.sec-header {
	font-weight: bold;
	font-family: "Aleo", Serif;
}

.u-right-text {
	text-align: right;
}

.date-box {
	width: 6.5em;
}

.accolade-box {
	width: 4em;
	text-align: right;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  /*width: auto;*/
  max-width: 700px;
  margin: 20px auto;
}

.outlined {
	border-width: 2px;
	border-style: solid;
}

.popup-inner {
	padding: 20px;
}

#headshot {
	display:block;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    vertical-align: middle;
}

.ebgaramond {
	font-family: "EB Garamond", Serif;
}

.bold {
	font-weight: bold;
}

#main-block{
	background-color: white;
}

@media screen{
	#main-block{
		box-shadow: 30px 30px 10px #333333;
	}

	body{
		background-color: #5555ff;
	}
}


@media (min-width: 1100px){
	.mobile-only{display: none;}
}

@media (max-width: 1100px){
	.desktop-only{display: none;}
	#headshot{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}