.u-text-centered{
	text-align: center;
}

.u-block-centered{
	margin:auto;
}

.u-image-centered{
	margin:auto;
	display:block;
}

.tooltipd{
	text-decoration: underline dashed;
}

.five.pct.tall{margin-top: 5%;}
.ten.pct.tall{margin-top: 10%;}
.fifteen.pct.tall{margin-top: 15%;}

hr{
  border-top: 3px groove #A1A1A1;
}

*{
	font-size: 14.5pt;
}

.sec-header {
	font-weight: bold;
}

#headshot {
	display:block;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    vertical-align: middle;
}

#main-block{
	background-color: white;
}

@media screen{
	#main-block{
		box-shadow: 30px 30px 10px #333333;
	}

	body{
		background-color: #7777ff;
	}
}